.leftPanel {
    float: left;
    width: 50%;
}

.rightPanel {
    float: left;
    width: 50%;
}

.rightPanel img {
    width: 420px;
}

.home-area {
    position: relative;
}

.home-area .home-caption {
    width: 100%;
    margin-bottom: 75px;
}

.home-area .home-caption .subheading {
    font-size: 1.4em;
    font-weight: 700;
    color: var(--secondary);
}

.home-area .home-caption h1 {
    text-transform: uppercase;
    color: var(--primary);
    margin-top: 25%;
}

.contact-wrapper {
    text-align: center;
    flex-direction: column;
}


.home-area .home-caption p {
    margin-bottom: 45px;
    padding-right: 155px;
}

.home-area .home-img {
    float: right;
    width: 200px;
    height: 200px;
}

.home-area .home-img img {
    position: relative;
    right: -63px;
}

.home-area .home-shape {
    position: absolute;
    top: 13%;
    left: 51%;
}

.contact {
    display: flex;
    font-size: 1em;
    justify-content: center;
    margin-bottom: 5px;
}

.contact-body {
    margin-left: 20px;
}

.portfolio-main img {
    width: 450px;
    height: 600px;
    border-radius: 10%;
}

@media screen and (max-width: 759px) {
    .leftPanel {
        float: inherit;
        width: 90%;
        padding-left: 20px;
    }

    .rightPanel {
        float: inherit;
        width: 100%;
        padding-left: 20px;
    }

    .rightPanel img {
        width: 90%;
        height: 70%;
    }
}